<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prince Ambulance | Networksism</title>
    <link rel="stylesheet" href="../static/css/styles.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="icon" href="../static/images/truck-medical-solid.png" />
  </head>

  <body>
    <section class="header">
      <nav>
        <a href="index.html"
          ><i class="fa-solid fa-truck-medical logo_icon"></i
        ></a>
        <div class="nav-links" id="navLinks">
          <i class="fa fa-times" onclick="hideMenu()"></i>
          <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="#services">SERVICES</a></li>
            <li><a href="#testimonials">TESTIMONIALS</a></li>
            <li><a href="contact.html">CONTACT US</a></li>
          </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
      </nav>
      <div class="text-box">
        <h1>Prince Ambulance Services</h1>
        <p>
          A/C Luxury Ambulance | ICU on Wheels <br />
          (Alfobed Oxygen Attached)
        </p>
        <a href="contact.html" class="hero-btn">Emergency? Call right away!</a>
      </div>
    </section>

    <!-- COURSE -->
    <section class="course" id="services">
      <h1>Services We Offer</h1>
      <p>A wide range of services during your crucial times</p>

      <div class="row">
        <div class="course-col">
          <h3>Mortuary Vans</h3>
          <p>
            Our mortuary vans provide secure and dignified transportation for
            the deceased. With respect and professionalism, we ensure a smooth
            transfer, prioritizing safety and care during this difficult time.
          </p>
        </div>
        <div class="course-col">
          <h3>Emabalming</h3>
          <p>
            Our embalming services offer respectful preservation and preparation
            of the deceased, allowing families a dignified way to say goodbye.
          </p>
        </div>
        <div class="course-col">
          <h3>Freezer Box</h3>
          <p>
            Our freezer box services offer temperature-controlled preservation
            for the deceased, ensuring dignity and peace of mind for families as
            they plan final arrangements.
          </p>
        </div>
      </div>
    </section>

    <!-- facitlities -->

    <section class="facilities">
      <h1>Other Facilities</h1>
      <p>A few other services we provide</p>

      <div class="row">
        <div class="facilities-col">
          <img src="../static/images/ventilator.png" />
          <h3>Ventilator Services</h3>
          <p>
            Our ambulances are equipped with ventilators to support patients in
            respiratory distress. With expert paramedics, we provide essential
            breathing assistance, ensuring stability and comfort en route to the
            hospital.
          </p>
        </div>
        <div class="facilities-col">
          <img src="../static/images/bodystorage.png" />
          <h3>Body Storage</h3>
          <p>
            Our body storage facilities offer secure, temperature-controlled
            environments, preserving the deceased with dignity and care. We
            ensure respectful handling and reliable storage during final
            arrangements.
          </p>
        </div>
        <div class="facilities-col">
          <img src="../static/images/air.png" />
          <h3>Body Transport by Air</h3>
          <p>
            We offer efficient and respectful air transport services for the
            deceased, ensuring safe, timely delivery to desired locations. Our
            team handles all logistics with care, providing peace of mind during
            difficult times.
          </p>
        </div>
      </div>
    </section>

    <!-- testimonials -->
    <section class="testimonials" id="testimonials">
      <h1>What Our Clients Says</h1>
      <p>Check out what others have to say about us.</p>
      <div class="row">
        <div class="testimonial-col">
          <img src="../static/images/user1.jpg" alt="" />
          <div>
            <p>
              "Highly recommend their services. The staff was caring and
              efficient, ensuring everything went smoothly. Their
              professionalism made a tough situation much easier to handle."
            </p>
            <h3>Christine Barley</h3>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
        <div class="testimonial-col">
          <img src="../static/images/user2.jpg" alt="" />
          <div>
            <p>
              "Exceptional service during a difficult time. The team was
              professional, compassionate, and handled everything with the
              utmost care. Truly grateful for their support."
            </p>
            <h3>David Byer</h3>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-solid fa-star-half"></i>
          </div>
        </div>
      </div>
    </section>

    <!-- call to action -->
    <section class="cta">
      <h1>
        Contact us immediately<br />
        for a super fast service!
      </h1>
      <a href="contact.html" class="hero-btn">CONTACT US</a>
    </section>

    <!-- Footer -->
    <section class="footer">
      <h4>About Us</h4>
      <p>
        We provide compassionate, professional ambulance and funeral services,
        ensuring timely, respectful care for both patients<br />
        and families. Our team is committed to safety, dignity, and support
        during life’s most challenging moments.
      </p>
      <div class="icons">
        <a href="https://www.facebook.com/"
          ><i class="fa fa-brands fa-square-facebook"></i
        ></a>
        <a href="https://x.com/"
          ><i class="fa fa-brands fa-square-x-twitter"></i
        ></a>
        <a href="https://instagram.com/"
          ><i class="fa fa-brands fa-instagram"></i
        ></a>
        <a href="https://linkedin.com/"
          ><i class="fa fa-brands fa-linkedin"></i
        ></a>
      </div>
      <p>
        Made with <i class="fa fa-regular fa-heart"></i> by
        <a class="networksism" href="https://www.networksism.com/"
          >Networksism</a
        >
      </p>
    </section>

    <!------JavaScript for Toggle Menu ---->
    <script>
      var navLinks = document.getElementById("navLinks");
      function showMenu() {
        navLinks.style.right = "0";
      }
      function hideMenu() {
        navLinks.style.right = "-200px";
      }
    </script>
  </body>
</html>
